<h3>Job form</h3>

<div class="well">
  {{ form(form) }}

 <!--
  {{ form_start(form) }}

  {# Global errors. #}
  {{ form_errors(form) }}

  {# This field does not exist for edit form #}
  {% if form.createdAt is defined %}
    {# Generate label + error + widget for a field. #}
    {{ form_row(form.createdAt) }}
  {% endif %}

  {# Generate manually amd exploded: #}
  <div class="form-group">
    {# Generate label. #}
    {{ form_label(form.title, "Job Title", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    <div class="col-sm-10">
      {# Generate input. #}
      {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
      {# Display errors for this field. #}
      {{ form_errors(form.title) }}
    </div>

  </div>

  {# Another field. #}
  <div class="form-group">
    {{ form_label(form.content, "Job Content", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    <div class="col-sm-10">
      {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
      {{ form_errors(form.title) }}
    </div>
  </div>

  {{ form_row(form.author) }}

  {% if form.isPublished is defined %}
    {{ form_row(form.isPublished) }}
  {% endif %}

  <div class="form-group">
    {{ form_row(form.image) }}
  </div>

  <div class="form-group">
    {{ form_row(form.categories, {'attr': {'class': 'job_categories_fields'}}) }}
    <a href="#" id="add_category" class="btn btn-default">Add a category</a>
  </div>

  {# For the save button, no label no error, just the widget #}
  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

  {# Automatic generation of fields not yet written.
     In this example, it would be the CSRF field (automatically managed by Symfony)
     and all hidden fields #}
  {{ form_rest(form) }}

  {{ form_end(form) }}
-->
</div>