{% extends "AppBundle::layout.html.twig" %}

{% block title %}
  View a job - {{ parent() }}
{% endblock %}

{% block appbundle_body %}

  <h2>{{ job.title }}</h2>
  <i>By {{ job.author }}, the {{ job.date|date('m/d/Y') }}</i>

  <div class="well">
    {{ job.content }}
  </div>

  <p>
    <a href="{{ path('index_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Back to the list
    </a>
    <a href="{{ path('job_edit', {'id': job.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Edit job
    </a>
    <a href="{{ path('job_delete', {'id': job.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Delete job
    </a>
  </p>

{% endblock %}