{% extends "AppBundle::layout.html.twig" %}

{% block title %}
  Home - {{ parent() }}
{% endblock %}

{% block appbundle_body %}

  <h2>Jobs list</h2>
  
{# Test the Twig service extension Antispam #}
{{ checkIfSpam('Hello Team, I am a spam.') }}

  <ul>
    {% for job in listJobs %}
      <li>
        <a href="{{ path('job_view', {'id': job.id}) }}">
          {{ job.title }}
        </a>
        by {{ job.author }},
        the {{ job.date|date('m/d/Y') }}
      </li>
    {% else %}
      <li>No jobs</li>
    {% endfor %}
  </ul>

{% endblock %}